body {
	margin: 0;
	font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
  background-color:#F6F2F2;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

section.Section-1{
     margin: 0px;
}

.main-menu{
  margin: 0 auto;
  max-width: 1249px;
  min-height: 89px;
  background-color: #000000;
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation > a {
	padding: 42px 25px 30px;
  color: #fff;
  font-size: 17px;
	font-weight: bold;
	text-decoration: none;
  text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;

}

.navigation > a:hover {
	background-color: #FF3F40;
  height: 17px;
  transition: all .2s linear;
}

.first_floor {
	margin: 0 auto;
  max-width: 1249px;
  min-height: 569px;
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
	background-color:#E0E0E0;
	width: 1250px;
	padding: 108px 0 123px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9953px;

}

.first_floor_container {
	padding-top: 103px;
  padding-bottom: 122px;
}

.header-1 {
  max-width: 652px;
  margin: 0;
  font-family: 'OpenSans ExtraBold', sans-serif;
  font-style: normal;
  font-size: 60px;
	text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 6px;
}
.text-1 {
  max-width: 544px;
  height: 73px;
	left: 165px;
	top: 373.5px;
}

.contact_button {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 18px;
  color: #FFFFFF;
  display: inline-block;
  background-color: #FF2D2D;
	font-family: 'OpenSans Bold', sans-serif;
	letter-spacing: 0.3195px;
  width: 227px;
  padding: 21px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.img_link {

  display: inline-block;
	width: 551px;
	height: 356px;
	box-shadow: 10px 10px 10px rgba(122,122,122, 0.5);

}

section.Section-2	{
    margin: 0 auto;
    max-width: 1254px;
    min-height: 591px;
    padding-top: 106px;
}

.Section-2	{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.Offer	{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 539px;
  	justify-content: start;
    margin-right: 100px;
}

.Offer > p	{
  	padding-bottom: 51px;
}

.header-2 {
  	font-family: 'OpenSans Bold', sans-serif;
  	font-style: normal;
  	font-weight: bold;
  	font-size: 42.1902px;
  	line-height: 55px;
	  letter-spacing: 0.422159px;
	  text-transform: uppercase;
  	color: #000000;
}

.learn-more {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    font-family: 'OpenSans Bold', sans-serif;
    letter-spacing: 0.3195px;
    color:#FF2D2D;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid  #FF0000;
    box-sizing: border-box;
}

.learn-more:hover {
		background-color: #FF3F40;
	  height: 55px;
	  transition: all .2s linear;
		color: #fff;
}

.services-offer	{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 643px;
    min-height: 471px;
}

.services {
    width: 50%;
}
.services > p {
    max-width: 300px;
}

.services > h3 {
    font-family: 'OpenSans SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
  	letter-spacing: 0.27px;
  	color: #000000;
}

.breakline {
    max-width: 1251px;
    background: #ECECEC;
    border: #ECECEC;
    height: 3px;
}

section.Section-3	{
    margin: 0 auto;
    max-width: 1254px;
    min-height: 1034px;
    padding-top: 100px;
}

.Section-3_h2	{
		max-width: 453px;
    margin: 0 auto;
    font-family: 'OpenSans Bold', sans-serif;
    font-style: normal;
    font-size: 41px;
    text-transform: uppercase;
    color: #000000;
    line-height: 32px;
    letter-spacing: 1px;
}

.Section-3_p {
		max-width: 536px ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 34px;
}

.red-line {
    margin: 0 auto;
    max-width: 134px;
    background: #FF2D2D;
    border: #FF2D2D;
    height: 2px;
}

.Features-menu_item {
		width: 100%;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  display: flex;
	  flex-wrap: wrap;
	 	justify-content: center;
	  margin-bottom: 60px;
	  text-decoration: none;
	  padding-top: 86px;
}

.Features-menu_item a {
		left: 45px;
	  color: #000;
	  margin-right: 55px;
	  font-size: 22px;
	 	font-family: 'OpenSans SemiBold', sans-serif;
	 	text-transform: uppercase;
	  text-decoration: none;
		opacity: 0.6;
}

.Features-menu_item a.active {
	color: #ff2d2d;
	opacity: 1;
}

.Features-menu_item a:hover {
	color: #ff2d2d;
}

.Section-4{
	margin: 0 auto;
  max-width: 1254px;
  min-height: 1034px;
}

.Section-4_h2 {
	font-family: 'OpenSans Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42.1902px;
  line-height: 55px;
  letter-spacing: 0.422159px;
  text-transform: uppercase;
	color: #000000;
}

.Section-4_p {
	max-width: 460px;
 	padding-bottom: 37px;
}

.redline_our_team {
	margin: 0;
  max-width: 134px;
  background: #FF2D2D;
  border: #FF2D2D;
  height: 3px;
}



.Team {
	padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 458px;
}

.Boss_man {
	max-width: 387px ;
  padding-right: 50px;
}

.Main_Team > h3 {
	font-family: 'OpenSans SemiBold', sans-serif;
 	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	letter-spacing: 0.271838px;
	color: #000000;
}

.Company_Team {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Company_Team > h3 {
	font-family: 'OpenSans SemiBold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 0px;
	letter-spacing: 0.27px;
	color: #000000;
	text-transform: uppercase;
}
.Company_Team > p {
	max-width: 662px;
}

.team_img {
	position: relative;
	display: flex;
  flex-direction: row;
}

.Team_navigation {
	width: 100%;
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 60px;
}

.Social_Networks_team {
	left: 45px;
	color: #000;
	margin-right: 55px;
	font-size: 18px;
	font-family: 'OpenSans Italic', sans-serif;
	text-decoration: none;
  opacity: 0.7;
}

.imgs_of_team {
	display: flex;
  flex-direction: row;
	position: relative;
}

.Members > img {
	padding-right: 10px;
}
.Members > h3 {
	margin-bottom: 3px;
  visibility: hidden;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 199px;
  height: 37px;
  text-align: center;
  background-color: #000;
  opacity: 0.5;
}
.Members:hover > h3 {
	visibility: visible;
}

section.Section-5 {
	background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  min-height: 516px;
  align-items: center;
  justify-content: center;
}

.Subs_email {
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.Subscribe > h2 {
	max-width: 1129px;;
  margin: 0 auto;
  font-family: 'OpenSans Bold', sans-serif;
  font-style: normal;
  font-size: 42px;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: 1.05px;
  align-items: center;
  text-align: center;
}

.Subscribe > p {
	margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: #fff;
	opacity: 0.8;
}

.Subs_email > form {
	display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 524px;
  max-height: 82px;
}

.email {
	display: flex;
	flex: 0 1 521px;
	align-items: center;
	background-color: #fff;
	color: grey;
	padding: 0;
	padding-left: 35px;
	box-sizing: border-box;
	max-width: 521px;
	min-height: 79px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
}

.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-family: 'OpenSans Bold';
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.Feedback_contacts {
	margin: 0 auto;
  max-width: 1254px;
  min-height: 1034px;
  padding-top: 100px;
  min-height: 516px;
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-top: 92px;
  padding-bottom: 110px;
}
.Feedback	{
	max-width: 731px;
	margin-right: 107px;
}
.Feedback > p {
	max-width: 720px;
	margin-bottom: 50px;
}
.Feedback > h2 {
	font-family: 'OpenSans Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 34px;
}

.Feedback_line {
	margin-left: 0px;
	margin-bottom: 75px;
	margin: 0 auto;
  max-width: 134px;
  background: #FF2D2D;
  border: #FF2D2D;
  height: 2px;
  padding-right: 0px;
}

.feedback_form {
  padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
}
.feedback_form > div {
	color: grey;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;
	margin-bottom: 45px;
}

.feedback_form > .name-input,
.feedback_form > .email-input {
	width: 339px;
	max-width: 339px;
	height: 69px;
}

.feedback_form > .name-input {
	margin-right: 53px;
}

.feedback_form > .message-input {
	resize: none;
	font-size: 16px;
	font-family: 'OpenSans Regular', sans-serif;
	width: 731px;
	max-width: 731px;
	height: 249px;
	box-sizing: border-box;
	padding-top: 35px;
	padding-left: 54px;
	padding-bottom: 150px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;
}

.feedback_form > .send-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 731px;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'OpenSans Bold', Helvetica, Arial, sans-serif;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.contacts {
	position: relative;
	color: #e0e0e0;
	background-color: #2c2c2c;
	padding: 125px 78px;
}

.contacts > h2 {
	color: #e0e0e0;
  font-size: 18px;
  font-family: 'OpenSans Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: 0.317px;
  text-transform: uppercase;
  margin-bottom: 13px;

}

.contacts-address {
	line-height: 28px;
}

.contacts-address > p {
  margin-bottom: 17px;
  font-family: 'OpenSans Regular', sans-serif;
  font-style: normal;
}

footer {
	background-color: #2c2c2c;
	padding: 0 1vw;
}

.footer-setup {
	box-sizing: border-box;
	min-height: 110px;
	padding: 19px 0 0;

	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2c2c2c;
}

.footer-links > a:not(:last-child) {
	margin-right: 18px;
}
